
body {
    background-color: #d6d6d6 !important;
    color: #3a3b3b !important;
}

.container {
    background-color: #d6d6d6 !important;
    color:#3a3b3b !important;
}

.navbar-custom {
    background-color: #a2c2cf;
    color:#a2c2cf !important;

}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}