
body {
    background-color: #d6d6d6 !important;
    color: #3a3b3b !important;
}

.container {
    background-color: #d6d6d6 !important;
    color:#3a3b3b !important;
}

.navbar-custom {
    background-color: #a2c2cf;
    color:#3a3b3b !important;

}
