body {
    background-color: #d6d6d6 !important;
    color: #a2c2cf !important;
}

.jumbotron {
    background-color: #a2c2cf !important;
    color:#3a3b3b !important;
}

.form {
    margin-left: 10px;
}